@media only screen and (max-width:900px) {
    #navbar {
        flex-direction: column;
    }

    /* Services Section */
    #services {
        flex-direction: column;
    }

    /* Follow Section */
    #follow .iteam {
        display: flex;
        flex-wrap: wrap;
    }

    #follow .iteam img {
        height: 75px;
        width: 75px;
    }
}